<%- include("header.ejs") %>

<div class="box">
    <div id="heading">
        <h1>this is about page</h1>
    </div>
    <div>
        <p>alskdjfa;lj lkjdsflklj a;lskjf;dslakjf lkasdjlf kjal;dkjf lsadkjf;lkjdas;lkfj asdlkj flkjas Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut nostrum temporibus quos dicta nobis, numquam iusto asperiores error nisi aspernatur accusamus expedita facilis quasi ipsum blanditiis tempora consequatur eligendi maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus illum sit quas? Mollitia asperiores fugiat reiciendis enim nostrum cupiditate laudantium quam dolorum? Provident quos deleniti possimus dolor quod, totam culpa nostrum consectetur ratione quibusdam temporibus. Dolores similique aperiam tempore quisquam tempora est ducimus doloremque voluptatibus blanditiis rem veniam, eos vitae quasi accusantium dolor sequi sapiente facilis temporibus facere quas architecto incidunt. Consequatur doloremque odit, non saepe odio perspiciatis earum delectus nesciunt, tempora nihil doloribus officia maxime debitis fuga quos facere voluptas commodi amet exercitationem nam illo ea porro possimus. Officia doloribus, quaerat laboriosam vel enim iure quo exercitationem nemo nam.</p>
    </div>
    
</div>

<%- include("footer.ejs") %>